
repositorioBaseProfessor/in/transactions_amostra.csv
TDE1/transactions_amostra.csv
TDE1/__MACOSX/
TDE1/transactions_amostra_sample.csv
TDE1/.~lock.transactions_amostra_sample.csv
TDE2/transactions_amostra_sample.csv
